{% extends "layouts/main.html" %}

{% block pageTitle %}
  Does the potential victim know where their exploiters are? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/where-exploiters" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "uk-question",
          fieldset: {
            legend: {
              text: "Are the exploiters in the UK?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If the potential victim is unsure, answer based on the last known location of the exploiters"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
        
          {{ govukButton({
            text: "Save and exit",
            classes: "govuk-button--secondary",
            href: "/index"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
